.scroll-second-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd; 
    padding: 10px 0;
  }
  
  .scrollsecond-wrapper {
    display: flex;
     
   gap: 280px;
  }
  
  .scroll-second-image {
    height: 90px; 
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .scroll-second-container {
        overflow-x: auto; 
        white-space: nowrap; 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
        display: block; 
    }

    .scroll-second-container::-webkit-scrollbar {
        display: none; 
    }

    .scrollsecond-wrapper {
        display: inline-flex; 
        gap: 50px; 
    }
}