.scroll-second-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd; 
    padding: 10px 0;
  }
  
  .scrollsecond-wrapper {
    display: flex;
     
   gap: 280px;
  }
  
  .scroll-second-image {
    height: 90px; 
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .scroll-second-container {
        overflow-x: auto; 
        white-space: nowrap; 
        scrollbar-width: none; 
    }

    .scrollsecond-wrapper {
        gap: 50px; 
    }
}