.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: #e0e0e0;
    padding: 10px 0;
  }
  
  .scroll-wrapper {
    display: flex;
    gap: 30px;
    animation: scroll 20s linear infinite;
  }
  
  .scroll-image {
    height: 80px; 
    width: auto;
    object-fit: contain;
  }
  
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  

    
@media (max-width: 768px) {
  .scroll-wrapper {
      gap: 15px;
      animation-duration: 15s;
  }

  .scroll-image {
      height: 50px;   
  }
}

@media (max-width: 480px) {
  .scroll-wrapper {
      gap: 10px;
      animation-duration: 12s;
  }

  .scroll-image {
      height: 40px;   
  }
}